<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div
          id="user-data"
          ngModelGroup="userData"
          #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              name="username"
              #username="ngModel"
              required
              ngModel>
              <p class="help-block" *ngIf="!username.valid && username.touched">Please enter a Username!</p>
          </div>
          <button class="btn btn-default" type="button"
            (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              type="email"
              id="email"
              class="form-control"
              name="email"
              required
              email
              ngModel
              #email="ngModel"
              >
              <p class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</p>
          </div>
          <!-- <h3 *ngIf='!userData.valid && userData.touched'>User data is empty</h3> -->
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select
            id="secret"
            class="form-control"
            name="secret"
            [ngModel]="defaultOption"
            >
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea
            name="questionAnswer"
            rows="2"
            class="form-control"
            [(ngModel)]='answer'></textarea>
        </div>
        <p>Your reply: {{ answer }}</p>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" name="gender" [ngModel]="defaultGende" [value]="gender" required>
            {{ gender }}
          </label>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!form.valid">Submit</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12" *ngIf="submit">
      <h3>Data</h3>
      <p> Name: {{user.name}} </p>
      <p> Mail: {{user.mail}} </p>
      <p> Secret: {{user.question}} </p>
      <p> Answer: {{user.answer}} </p>
      <p> Gender: {{user.gender}} </p>
    </div>
  </div>
</div>
